body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.projects {
    --width: 100%;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 4fr 3fr;
    height: 180px;
    padding-left: 20px;
}

.header .topright img {
    width: 40px;
}

.header .bottomleft img {
    width: 100px;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px 15px 50px 15px;
    gap: 20px;

}

.sidebar {
    
    padding: 20px;
    background-color: rgb(92, 92, 221);
}

.sidebar .wrapper {
    height: 60%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr 4fr;
    gap: 20px;
    
}

.sidebar a {
    text-decoration: none;
    color: white;
}



.sidebar h1 {
    
    color: white;
    font-size: 20px;
    margin:  0;
    
}

.sidebar .left {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
}

.sidebar .right {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
}

.sidebar .left svg {
    align-self: start;
    color: white;
}

.sidebar .right a {
    padding-top: 5px;
}

.header form button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
  
.header form svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

.header form {
    align-self: center;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header form input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 20px;
    width: 80%;
    padding: 6px 10px;
    background-color: rgba(180, 179, 179, 0.3);
    border-radius: 10px;
}

::placeholder {
    color: black;
    opacity: 0.7; 
}

.main-content > .right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.main-content .wrapper {
    display: grid;
    grid-template-rows: 1fr 19fr;
    grid-template-columns: 1fr;
}

.main-content .wrapper .projects {
    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, calc(var(--width)/2.1)), 1fr));
}

.main-content .project {
    width: 90%;
}

.main-content .wrapper h1{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    align-self: end;
}

.project h2 {
    font-size: 15px;

    margin-top: 20px;
    margin-bottom: 5px;
    
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-left: 3px solid orange;
    box-shadow: 5px 5px 2px grey;
    
}

.project .icons {
    display: flex;
   
    justify-content: end;
    
   
}

.project .icons svg {
    margin: 0 10px;
}

.project p {
    margin-top: 0px;
}



.header .topright {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
}

.header .topright *{
    margin: 0 10px;
}

.header .bottomleft {
    display: grid;
    align-content: start;
    justify-content: start;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.header .bottomleft img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
}

.header .bottomleft .greeting {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
    margin: 0;
    align-self: end;
    margin-bottom: 10px;
    
}

.header .bottomleft .user {
    grid-area: 2 / 2 / 3 / 3;
    font-weight: bold;
    margin: 0;
    
}

.header .bottomright {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    
}

.header .bottomright button {
    height: 30px;
    width: 80px;
    margin: 10px;
    background-color: rgb(92, 92, 221);
    color: white;
    border-radius: 15px;
    border: none;
}


.main-content .right h1 {
    
    align-self: end;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
   
}

.main-content .right .wrapper {

    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 2px grey;

}

.main-content .right .announcements {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.main-content .right .trending {
    display: grid;
    grid-template-rows: 1fr 9fr;
    margin-top: 15px;
}





